{% macro mac_list_title(entity, size = '1') %}
    <div class="text-center">
        <h{{size}} class="display-4 mb-3">
            Listado de {{entity}}
        </h{{size}}>
    </div>
{% endmacro %}

