{% extends "base.html" %}

{% set entity_slug = "permission" %}
{% set entity_title = "Permiso" %}
{% set entity_title_plural = "Permisos" %}
{% set delete_label_field = "code" %}
{% set article = "el" %}
{% set visible_columns = '["code", "name", "description", "is_active", "created_at", "updated_at"]' %}
{% set filters_columns = '["id", "code", "name", "description", "is_active", "created_at", "updated_at"]' %}

{% block title %}
 - {{ entity_title_plural }}
{% endblock %}

{% block content %}
    {% include "crud/list_content.html" %}
{% endblock %}
